<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Auto Config for Slippi</title>
    <style>
      ::-webkit-scrollbar {
        display: none;
      }
    </style>
  </head>
  <body></body>
</html>
